<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl">Posts</h1>
    <h1 class="font-bold text-4xl text-blue-400"><%= render(HeaderComponent.new(title: 'Test title')) %></h1>
    <%= link_to "New post", new_post_path, class: "rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium" %>
  </div>

  <div id="posts" class="min-w-full">
    <%= @posts.each do |post| %>
      <%= render(PostComponent.new(id: post.id, title: post.title, body: post.body)) %>

      <% if action_name != "show" %>
        <%= link_to "Show this post", post, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
        <%= link_to "Edit this post", edit_post_path(post), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
        <hr class="mt-6">
      <% end %>
    <% end %>
  </div>

  <div class="mt-10">
    <h1 class="text-3xl mb-10">Rendering Header components</h1>

    <div class="space-y-5">
      <%= render(HeaderComponent.new(title: 'Test title 0', classes: 'text-gray-400 font-black')) %>
      <%= render(HeaderComponent.new(title: 'Test title 1', classes: 'text-green-400 font-semibold leading-6')) %>
      <%= render(HeaderComponent.new(title: 'Test title 2', classes: 'text-cyan-400 text-center')) %>
      <%= render(HeaderComponent.new(title: 'Test title 3', classes: 'text-purple-400 md:text-red-400 lg:text-pink-400 xl:text-orange-400 text-right font-bold')) %>

      <%# Content info %>
      <%= render(HeaderComponent.new(title: 'Content test 1').with_content('This is a content block 1')) %>
      <%= render(HeaderComponent.new(title: 'Content test 2')) do %>
        This is a content block 2
      <% end %>
    </div>
  </div>
</div>
